#intro{
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.introContent {
    height: 100vh;
    width: 60%; /* instead of 100vw */
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    color: white;
    z-index: 1; /* ensures text stays on top */
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: 0; /* stays behind the text */
    object-fit: cover;
    height: 100vh;
    width: 40%; /* ensure it doesn't fill the text area */
}

/* .bg{
    position: absolute;
    top:-4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; */
/* } */

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: #ff5200;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    border: none;
    background: #ffffff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.01rem 0.75rem;
    border-radius: 2rem;
    margin: 1rem 0;
    cursor: pointer;
}

.hiretext{
    font-size: medium;
    font-weight: 400;
}

.btnImg{
    height: 2.5rem;
    width: 3rem;
    object-fit: cover;
    padding: 0rem 0.5rem;
}

@media  screen and (max-width:840px) {
    .bg{
        right : 0vw
    }
    .introContent{
        font-size: 5vw;
        text-align: left;
    }
    .hello{
        font-size: 4.5vw;
    }
}

@media  screen and (max-width:414px) {
    .bg{
        right : 0vw;
        height: 97vh;
        width: 97vw;
        object-fit: cover;
        opacity: 0.35;
    }
    .introContent{
        font-size: 5vw;
    }
}
